<section>
  <mat-tab-group>
    <mat-tab label="ngOnChanges">
      <ng-template matTabContent>
        <app-on-change></app-on-change>
      </ng-template>
    </mat-tab>
    <mat-tab label="ngOnInit"> TO DO </mat-tab>
    <mat-tab label="ngDoCheck">
      <ng-template matTabContent>
        <app-do-check></app-do-check>
      </ng-template>
    </mat-tab>
    <mat-tab label="ngAfterContentInit">
      <ng-template matTabContent>
        <app-after-content-init>
          <app-content-projection-child></app-content-projection-child>
        </app-after-content-init>
      </ng-template>
    </mat-tab>
    <mat-tab label="ngAfterContentChecked">
      <ng-template matTabContent>
        <app-after-content-checked>
          <app-content-projection-child></app-content-projection-child>
        </app-after-content-checked>
      </ng-template>
    </mat-tab>
    <mat-tab label="ngAfterViewInit">
      <ng-template matTabContent>
        <app-after-view-init>
          <app-content-projection-child></app-content-projection-child>
        </app-after-view-init>
      </ng-template>
    </mat-tab>
    <mat-tab label="ngAfterViewChecked">
      <ng-template matTabContent>
        <app-after-view-checked>
          <app-content-projection-child></app-content-projection-child>
        </app-after-view-checked>
      </ng-template>
    </mat-tab>
    <mat-tab label="ngOnDestroy">
      <ng-template matTabContent>
        <app-on-destroy></app-on-destroy>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</section>
