<section>
  <header>
    <h3>ngAfterViewInit hook</h3>
    <p>Frequency - Called once after first ngAfterContentChecked()</p>
  </header>
  <hr />
  <main>
    <ng-content *ngIf="render"></ng-content>
  </main>
  <hr />
  <footer>
    <p>DoCheck called {{ doCheckCount }} times</p>
    <p>AfterContentInit called {{ afterContentInitCount }} times</p>
    <p>AfterContentChecked called {{ afterContentCheckedCount }} times</p>
    <p>AfterViewInit called {{ afterViewInitCount }} times</p>
  </footer>
</section>
